@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
$blueColor: hsl(215, 51%, 70%);
$cyanColor: hsl(178, 100%, 50%);
$bgBlue: hsl(217, 54%, 11%);
$cardBlue: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$text: hsl(0, 0%, 100%)


